# Python bytecode and caches
__pycache__/
*.py[cod]
*.pyo

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/

# Virtual environments
venv*/
.venv*/
venv-py311/

# IDE / Editor settings
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db

# Cursor AI local metadata
# .cursor/

logs/
output/

boocr/ocr_model/*
